/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Variáves de cor */
  --background-default: #F5F4F0;
  --border-primary: #D9D9D9;

  /* Cores da tipografia */
  --text-primary: #1B1B1B;
  --text-secondary: #333333;
  --text-terciary: #696969;
  --text-headline: #E1624F;

  /* Cores de destaque */
  --accent-blue: #0C51A7;
  --accent-orange: #E95E10;
  --accent-pink: #E5245E;
  --accent-purple: #591B98;
}